<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/feed.css" />
    <title>Home</title>
  </head>
  <body>
    <% include partials/navbar %>
    <header>
      <h1>Pinterest Image Galley</h1>
    </header>
    <div class="container">
      <div class="box">
        <a href="https://gallery1.charleskdesigns.com/image/001.jpg">
          <img
            src="https://gallery1.charleskdesigns.com/image/001.jpg"
            alt="image"
        /></a>
        <div class="caption">Lorem ipsum</div>
      </div>

      <div class="box">
        <a href="https://gallery1.charleskdesigns.com/image/029.jpg">
          <img
            src="https://gallery1.charleskdesigns.com/image/029.jpg"
            alt="image"
        /></a>
        <div class="caption">Lorem ipsum</div>
      </div>

      <div class="box">
        <a href="https://gallery1.charleskdesigns.com/image/005.jpg">
          <img
            src="https://gallery1.charleskdesigns.com/image/005.jpg"
            alt="image"
        /></a>
        <div class="caption">Lorem ipsum</div>
      </div>

      <div class="box">
        <a href="https://gallery1.charleskdesigns.com/image/024.jpg">
          <img
            src="https://gallery1.charleskdesigns.com/image/024.jpg"
            alt="image"
        /></a>
        <div class="caption">Lorem ipsum</div>
      </div>

      <div class="box">
        <a href="https://gallery1.charleskdesigns.com/image/025.jpg">
          <img
            src="https://gallery1.charleskdesigns.com/image/025.jpg"
            alt="image"
        /></a>
        <div class="caption">Lorem ipsum</div>
      </div>

      <div class="box">
        <a href="https://gallery1.charleskdesigns.com/image/026.jpg">
          <img
            src="https://gallery1.charleskdesigns.com/image/026.jpg"
            alt="image"
        /></a>
        <div class="caption">Lorem ipsum</div>
      </div>

      <div class="box">
        <a href="https://gallery1.charleskdesigns.com/image/027.jpg">
          <img
            src="https://gallery1.charleskdesigns.com/image/027.jpg"
            alt="image"
        /></a>
        <div class="caption">Lorem ipsum</div>
      </div>

      <div class="box">
        <a href="https://gallery1.charleskdesigns.com/image/030.jpg">
          <img
            src="https://gallery1.charleskdesigns.com/image/030.jpg"
            alt="image"
        /></a>
        <div class="caption">Lorem ipsum</div>
      </div>

      <div class="box">
        <a href="https://gallery1.charleskdesigns.com/image/031.jpg">
          <img
            src="https://gallery1.charleskdesigns.com/image/031.jpg"
            alt="image"
        /></a>
        <div class="caption">Lorem ipsum</div>
      </div>
      <div class="box">
        <a href="https://gallery1.charleskdesigns.com/image/032.jpg">
          <img
            src="https://gallery1.charleskdesigns.com/image/032.jpg"
            alt="image"
        /></a>
        <div class="caption">Lorem ipsum</div>
      </div>

      <script src="https://code.jquery.com/jquery-3.3.1.js"></script>
    </div>
  </body>
</html>
